<!-- PROFILE HEADER -->
<div class='profile-header v2'>
  <!-- PROFILE HEADER COVER -->
  <figure class='profile-header-cover liquid'>
    <img src='/backgroundImage/{{groupBackImg}}' />
  </figure>
  <!-- /PROFILE HEADER COVER -->

  <!-- PROFILE HEADER INFO -->
  <div class='profile-header-info'>
    <!-- USER SHORT DESCRIPTION -->
    <div class='user-short-description big'>
      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a
        class='user-short-description-avatar user-avatar big no-stats'
      >
        <!-- USER AVATAR BORDER -->
        <div class='user-avatar-border'>
          <!-- HEXAGON -->
          <div class='hexagon-148-164'></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR BORDER -->

        <!-- USER AVATAR CONTENT -->
        <div class='user-avatar-content'>
          <!-- HEXAGON -->
          <div
            class='hexagon-image-124-136'
            data-src='/groupImage/{{groupImage}}'
          ></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR CONTENT -->
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION AVATAR -->
      <a
        class='user-short-description-avatar user-short-description-avatar-mobile user-avatar medium no-stats'
      >
        <!-- USER AVATAR BORDER -->
        <div class='user-avatar-border'>
          <!-- HEXAGON -->
          <div class='hexagon-120-130'></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR BORDER -->

        <!-- USER AVATAR CONTENT -->
        <div class='user-avatar-content'>
          <!-- HEXAGON -->
          <div class='hexagon-image-100-110' data-src='/groupImage/{{groupImage}}'></div>
          <!-- /HEXAGON -->
        </div>
        <!-- /USER AVATAR CONTENT -->
      </a>
      <!-- /USER SHORT DESCRIPTION AVATAR -->

      <!-- USER SHORT DESCRIPTION TITLE -->
      <p class='user-short-description-title'>{{groupName}}</p>
      <!-- /USER SHORT DESCRIPTION TITLE -->
    </div>
    <!-- /USER SHORT DESCRIPTION -->

    <!-- USER STATS -->
    <div class='user-stats'>
      <!-- USER STAT -->
      <div class='user-stat big'>
        <!-- USER STAT TITLE -->
        <p class='user-stat-title'>{{memberCount}}</p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class='user-stat-text'>멤버</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->
      <!-- USER STAT -->
      <div class='user-stat big'>
        <!-- USER STAT TITLE -->
        <p class='user-stat-title'>{{newsfeedCount}}</p>
        <!-- /USER STAT TITLE -->

        <!-- USER STAT TEXT -->
        <p class='user-stat-text'>뉴스피드</p>
        <!-- /USER STAT TEXT -->
      </div>
      <!-- /USER STAT -->
    </div>
    <!-- /USER STATS -->
  </div>
  <!-- /PROFILE HEADER INFO -->
</div>
<!-- /PROFILE HEADER -->
<!-- SECTION NAVIGATION -->
<nav class='section-navigation'>
  <!-- SECTION MENU -->
  <div id='section-navigation-medium-slider' class='section-menu secondary'>
    <!-- SECTION MENU ITEM -->
    <a class='section-menu-item' href='/group/timeline?groupId={{groupId}}'>
      <!-- SECTION MENU ITEM ICON -->
      <svg class='section-menu-item-icon icon-timeline'>
        <use xlink:href='#svg-timeline'></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class='section-menu-item-text'>타임라인</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a class='section-menu-item' href='/group/members?groupId={{groupId}}'>
      <!-- SECTION MENU ITEM ICON -->
      <svg class='section-menu-item-icon icon-members'>
        <use xlink:href='#svg-members'></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class='section-menu-item-text'>멤버</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->

    <!-- SECTION MENU ITEM -->
    <a class='section-menu-item' href='/group/events?groupId={{groupId}}'>
      <!-- SECTION MENU ITEM ICON -->
      <svg class='section-menu-item-icon icon-events'>
        <use xlink:href='#svg-events'></use>
      </svg>
      <!-- /SECTION MENU ITEM ICON -->

      <!-- SECTION MENU ITEM TEXT -->
      <p class='section-menu-item-text'>일정</p>
      <!-- /SECTION MENU ITEM TEXT -->
    </a>
    <!-- /SECTION MENU ITEM -->
  </div>
  <!-- /SECTION MENU -->

  <!-- SLIDER CONTROLS -->
  <div id='section-navigation-medium-slider-controls' class='slider-controls'>
    <!-- SLIDER CONTROL -->
    <div class='slider-control left'>
      <!-- SLIDER CONTROL ICON -->
      <svg class='slider-control-icon icon-small-arrow'>
        <use xlink:href='#svg-small-arrow'></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->

    <!-- SLIDER CONTROL -->
    <div class='slider-control right'>
      <!-- SLIDER CONTROL ICON -->
      <svg class='slider-control-icon icon-small-arrow'>
        <use xlink:href='#svg-small-arrow'></use>
      </svg>
      <!-- /SLIDER CONTROL ICON -->
    </div>
    <!-- /SLIDER CONTROL -->
  </div>
  <!-- /SLIDER CONTROLS -->
</nav>
<!-- /SECTION NAVIGATION -->