<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.min.css">
  <!-- simplebar styles -->
  <link rel="stylesheet" href="/css/vendor/simplebar.css">
  <link rel="stylesheet" href="/css/raw/scroll.css">
  <!-- tiny-slider styles -->
  <link rel="stylesheet" href="/css/vendor/tiny-slider.css">
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.ico">
  <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>
<link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css
" rel="stylesheet">
  <title>LounGe</title>
</head>
<body>
  {{>loader}}
  {{>header}}
  <style>
    .newsfeed-image {
  display: flex;
  gap: 1rem;
  width: 100px;
  height: 80px;
}
  </style>

  <!-- CONTENT GRID -->
  <div class="content-grid">
    {{>groupsectionnav}}
    <!-- GRID -->
    <div class="grid grid-3-6-3 mobile-prefer-content">
      <!-- 길환 라인 -->
      <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">

          <!-- WIDGET BOX TITLE -->
          <p class="widget-box-title">그룹 소개</p>
          <!-- /WIDGET BOX TITLE -->

          <!-- WIDGET BOX CONTENT -->
          <div class="widget-box-content">
            <!-- PARAGRAPH -->
            <p class="paragraph">{{groupDesc}}</p>
            <!-- /PARAGRAPH -->

            <!-- INFORMATION LINE LIST -->
            <div class="information-line-list">
              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">생성 날짜</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{groupCreatedAt}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">그룹장</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{leader}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

              <!-- INFORMATION LINE -->
              <div class="information-line">
                <!-- INFORMATION LINE TITLE -->
                <p class="information-line-title">이메일</p>
                <!-- /INFORMATION LINE TITLE -->

                <!-- INFORMATION LINE TEXT -->
                <p class="information-line-text">{{leaderEmail}}</p>
                <!-- /INFORMATION LINE TEXT -->
              </div>
              <!-- /INFORMATION LINE -->

            </div>
            <!-- /INFORMATION LINE LIST -->
          </div>
          <!-- /WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->
      </div>
      <!-- /길환 라인 -->

      <!-- 주호 라인 -->
      <div class="grid-column">
        <!-- QUICK POST -->
        <div class="quick-post">
          <!-- QUICK POST HEADER -->
          <div class="quick-post-header">
            <!-- OPTION ITEMS -->
            <div class="option-items">
              <!-- OPTION ITEM -->
              <div class="option-item active">
                <!-- OPTION ITEM ICON -->
                <svg class="option-item-icon icon-status">
                  <use xlink:href="#svg-status"></use>
                </svg>
                <!-- /OPTION ITEM ICON -->
                <!-- OPTION ITEM TITLE -->
                <p class="option-item-title">뉴스피드</p>
                <!-- /OPTION ITEM TITLE -->
              </div>
              <!-- /OPTION ITEM -->
            </div>
            <!-- /OPTION ITEMS -->
          </div>
          <!-- /QUICK POST HEADER -->
          <!-- QUICK POST BODY -->
          <div class="quick-post-body">
            <!-- FORM -->
            <form class="form">
              <!-- FORM ROW -->
              <div class="form-row">
                <!-- FORM ITEM -->
                <div class="form-item">
                  <!-- FORM TEXTAREA -->
                  <div class="form-textarea">
                    <textarea id="quick-post-text" name="quick-post-text" placeholder="오늘은 당신에게 어떤 일들이 있었나요?"></textarea>
                  </div>
                  <!-- /FORM TEXTAREA -->
                </div>
                <!-- /FORM ITEM -->
              </div>
              <!-- /FORM ROW -->
            </form>
            <!-- /FORM -->
          </div>
          <!-- /QUICK POST BODY -->
          <!-- QUICK POST FOOTER -->
          <div class="quick-post-footer">
            <!-- QUICK POST FOOTER ACTIONS -->
            <div class="quick-post-footer-actions">
              <!-- QUICK POST FOOTER ACTION -->
              <div class="quick-post-footer-action text-tooltip-tft-medium image_box" id="image_box" data-title="이미지 추가" onclick="getImages()">
                <!-- QUICK POST FOOTER ACTION ICON -->
                <svg class="quick-post-footer-action-icon icon-camera">
                  <use xlink:href="#svg-camera"></use>
                </svg>
                <!-- /QUICK POST FOOTER ACTION ICON -->
              </div>
              <!-- /QUICK POST FOOTER ACTION -->
              <!-- QUICK POST FOOTER ACTION -->
              <div class="quick-post-footer-action text-tooltip-tft-medium" data-title="태그 추가" onclick="getTags()">
                <!-- QUICK POST FOOTER ACTION ICON -->
                <svg class="quick-post-footer-action-icon icon-tags">
                  <use xlink:href="#svg-tags"></use>
                </svg>
                <!-- /QUICK POST FOOTER ACTION ICON -->
              </div>
              <!-- /QUICK POST FOOTER ACTION -->
            </div>
            <!-- /QUICK POST FOOTER ACTIONS -->
            <div class="tag_box" id="tag_box">

            </div>
              <!-- QUICK POST FOOTER ACTIONS -->
              <div class="quick-post-footer-actions">
                <!-- BUTTON -->
                <p class="button small secondary" onclick="createNewsfeed()">작성</p>
                <!-- /BUTTON -->
              </div>
              <!-- /QUICK POST FOOTER ACTIONS -->
          </div>
          <!-- /QUICK POST FOOTER -->
        </div>
        <!-- /QUICK POST -->
   
   <!-- 뉴스피드 목록 -->
   <div class="newsfeedbox" id="newsfeedbox">

   </div>

   <!-- /뉴스피드 목록 -->
        <!-- LOADER BARS -->
        <div class="loader-bars">
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
          <div class="loader-bar"></div>
        </div>
        <!-- /LOADER BARS -->
      </div>
      <!-- /주호 라인 -->

      <!-- 길환 라인 -->
      <div class="grid-column">
        <!-- WIDGET BOX -->
        <div class="widget-box">

          <!-- WIDGET BOX TITLE -->
          <p class="widget-box-title">신규 멤버</p>
          <!-- /WIDGET BOX TITLE -->

          <!-- WIDGET BOX CONTENT -->
          <div class="widget-box-content">

            <!-- USER STATUS LIST -->
            <div class="user-status-list">
              {{#each newMembers}}
              <!-- USER STATUS --> 
              <div class="user-status request-small">
                <!-- USER STATUS AVATAR -->
                <a class="user-status-avatar">
                  <!-- USER AVATAR -->
                  <div class="user-avatar small no-outline">
                    <!-- USER AVATAR CONTENT -->
                    <div class="user-avatar-content">
                      <!-- HEXAGON -->
                      <div class="hexagon-image-30-32" data-src="/userImage/{{memberImage}}"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR CONTENT -->
                
                    <!-- USER AVATAR PROGRESS -->
                    <div class="user-avatar-progress">
                      <!-- HEXAGON -->
                      <div class="hexagon-progress-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS -->
                
                    <!-- USER AVATAR PROGRESS BORDER -->
                    <div class="user-avatar-progress-border">
                      <!-- HEXAGON -->
                      <div class="hexagon-border-40-44"></div>
                      <!-- /HEXAGON -->
                    </div>
                    <!-- /USER AVATAR PROGRESS BORDER -->
                  </div>
                  <!-- /USER AVATAR -->
                </a>
                <!-- /USER STATUS AVATAR -->
            
                <!-- USER STATUS TITLE -->
                <p class="user-status-title"><a class="bold">{{memberName}}</a></p>
                <!-- /USER STATUS TITLE -->
            
                <!-- USER STATUS TEXT -->
                <p class="user-status-text small">{{memberJoinedAt}}</p>
                <!-- /USER STATUS TEXT -->
              </div>
              <!-- /USER STATUS -->
              {{/each}}
            </div>
            <!-- /USER STATUS LIST -->
          </div>
          <!-- WIDGET BOX CONTENT -->
        </div>
        <!-- /WIDGET BOX -->

      </div>
      <!-- /길환 라인 -->      
    </div>
    <!-- /GRID -->
  </div>
  <!-- /CONTENT GRID -->


<!-- app -->
<script src="/js/utils/app.js"></script>
<!-- page loader -->
<script src="/js/utils/page-loader.js"></script>
<!-- simplebar -->
<script src="/js/vendor/simplebar.min.js"></script>
<!-- liquidify -->
<script src="/js/utils/liquidify.js"></script>
<!-- XM_Plugins -->
<script src="/js/vendor/xm_plugins.min.js"></script>
<!-- tiny-slider -->
<script src="/js/vendor/tiny-slider.min.js"></script>
<!-- global.hexagons -->
<script src="/js/global/global.hexagons.js"></script>
<!-- global.tooltips -->
<script src="/js/global/global.tooltips.js"></script>
<!-- global.popups -->
<script src="/js/global/global.popups.js"></script>
<!-- header -->
<script src="/js/header/header.js"></script>
<!-- sidebar -->
<script src="/js/sidebar/sidebar.js"></script>
<!-- content -->
<script src="/js/content/content.js"></script>
<!-- form.utils -->
<script src="/js/form/form.utils.js"></script>
<!-- SVG icons -->
<script src="/js/utils/svg-loader.js"></script>
<!-- GH -->
<script src="/javascript/newsfeed.grouptimeline.js"></script>
<script src="/javascript/newsfeed.utils.js"></script>
<div id="ddd"></div>
</body>
</html>
